<input type="text" [(ngModel)]="term " (keyup)="getfilteredCars1()">
<select [(ngModel)]="pageNo " (change)="getpagedCars()">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
</select>

<label for="">column:</label>
<select [(ngModel)]="column " (change)="getsortedCars()">
    <option value="color">color</option>
    <option value="model">model</option>

</select>
<label for="">order:</label>
<select [(ngModel)]="order" (change)="getsortedCars()">
    <option value="asc">ascending</option>
    <option value="desc">descending</option>

</select>
<button (click)="getsortedCars()">submit</button>

<hr>

<hr>
<label for="">search:</label>
<input type="text" [(ngModel)]="queries.filter" (keyup)="loadData()">

<label for="">pageNo</label>
<select [(ngModel)]="queries.pageNo" (change)="loadData()">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>

</select>

<label for="">column:</label>
<select [(ngModel)]="queries.sortBy">
    <option value="color">color</option>
    <option value="model">model</option>

</select>

<label for="">order:</label>
<select [(ngModel)]="queries.order">
    <option value="asc">ascending</option>
    <option value="desc">descending</option>

</select>
<button (click)="loadData()">Sort</button>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>id</th>
            <th>vehicle</th>
            <th>manufacturer</th>
            <th>model</th>
            <th>type</th>
            <th>fuel</th>
            <th>color</th>
            <th>image</th>
            <th>cost</th>
            <th>Action</th>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let car of cars">
            <td>{{car.id}}</td>
            <td>{{car.Vehicle}}</td>
            <td>{{car.manufacturer}}</td>
            <td>{{car.model}}</td>
            <td>{{car.type}}</td>
            <td>{{car.fuel}}</td>
            <td>{{car.color}}</td>
            <td> <img src="{{car.image}}" width="100px" height="80px" alt=""></td>
            <td>{{car.cost}}</td>
            <td>{{car.id}}</td>

            <td>
                <button (click)=" deletecar(car.id)">delete</button>
            </td>

        </tr>
    </tbody>
</table>