<div class="parent">
    <div class="left">
        <h4>My Website</h4>
        <hr>
        <h4 routerLink="home">Home</h4>
        <h4 routerLink="about">About</h4>
       <h4 routerLink="data-binding">data binding</h4>
        <h4 routerLink="calculator">calculator</h4>
        <h4 routerLink="rectangle">rectangle</h4>
        <h4 routerLink="circle">circle</h4>
        <h4 routerLink="bmi">bmi</h4>
        <h4 routerLink="table">table</h4>
        <h4 routerLink="vehicles">vehicle</h4>
        <h4 routerLink="cars">cars</h4>
        <h4 routerLink="myntra">myntra</h4>
        <h4 routerLink="cars1">cars1</h4>
        <h4 routerLink="account">account</h4>
        <h4 routerLink="flipkart">flipkart</h4>
        <h4 routerLink="create-car">create-car</h4>
        <h4 routerLink="create-account">create-account</h4>
        <h4 routerLink="create-forms">create-forms</h4>
        <h4 routerLink="formtask">formtask</h4>
        <button (click)="logout()">logout</button>


    </div>
    <div class="right">
        <router-outlet></router-outlet>
        
    </div>
</div>
