<h1>employee form</h1>

<form [formGroup]="employeeform">

    <label for="">Name:</label>
    <input type="text" formControlName="name">
    <br>

    <label for="">experience:</label>
    <input type="text " formControlName="experience">
    <br>

    <div formGroupName="eperience">
        <label for="">company:</label>
        <input type="text" formControlName="company">
        <br>

        <label for="">experience:</label>
        <input type="text" formControlName="experience">
        <br>
        <label for="">pacakge:</label>
        <input type="text" formControlName="pacakge">
        <br>
    </div>
    <br>
    <button (click)="add()" class="btn-danger">Add more</button>

    <div formArrayName="skills">
        <div *ngFor="let skill of skillsFormArry.controls;let i = index">

            <div formGroupName="{{i}}">
                <h2>Skill:{{i+1}}</h2>

                <label for="">name:</label>
                <input type="text" formControlName="name">
                <br>
                <label for="">rating</label>
                <input type="number" formControlName="rating">
                <br>
                <label for="">experience</label>
                <input type="number" formControlName="experience">

                <button (click)="delete(i)" class="btn-danger">delete</button>
            </div>
        </div>

    </div>

    <button (click)="submit()" class="btn-btn-warning">submit</button>

    


</form>