<h1 style="color: red;">Create User Forms</h1>

<form [formGroup]="userform">


    <label for="">Name:</label>
    <input type="text" formControlName="name">
    <br>

    
    <label for="">Age:</label>
    <input type="number" formControlName="age">
    <br>

    
    <label for="">Phone:</label>
    <input type="number" formControlName="phone">
    <br>

    
    <label for="">Email:</label>
    <input type="email" formControlName="email">
    <br>

    <div formGroupName="address">

        <label for="">city:</label>
        <input type="text" formControlName="city">
        <br>

        
        <label for="">Pin:</label>
        <input type="number" formControlName="pin">
        <br>


    </div>


    <button (click)="add()" class="btn btn-info">Add Cart</button>
   
    <div formArrayName="cards">
        <div *ngFor="let card of cardsFormArray.controls; let i=index">
            <div formGroupName="{{i}}">
                <h1>Card:{{i+1}}</h1>
                <label for="">Number:</label>
                <input type="number" formControlName="number">
                <br>

                <label for="">Expiry:</label>
                <input type="month" formControlName="expiry">
                <br>

                <label for="">CVV:</label>
                <input type="number" formControlName="cvv">
                <br>

                <button (click)="delete(i)" class="btn btn-danger">Delete</button>

                <hr>


            </div>
        
        
        </div>
    </div>

    <br>
 


    <label for="">Type:</label>
    <input type="radio">
    <label for="">Dayscholar</label>

    <input type="radio">
    <label for="">Residential</label>
    <br>

    <label for="">Bus fee:</label>
    <input type="text">
    <br>

    <label for="">Hostal fee:</label>
    <input type="text">
    <br>
    <br>
    <button class="btn btn-danger" (click)="submit()">submit</button>

</form>